[user]
    name = kfwu
    email = kfwu1999@gmail.com
[core]
    editor = nvim
[alias]
    st = status
    ci = commit
    br = branch
    co = checkout
    cp = cherry-pick
    l  = log --oneline --decorate
    ll = log --graph   --decorate
    la = log --graph   --decorate --pretty=oneline --abbrev-commit --all
